<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-image: url('/img/background.jpg');
        }

        .form-form {
            text-align: center;
        }

        .head1 {
            color: rgb(200, 18, 18);
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .table {
            font-family: sans-serif;
            margin-left: auto;
            margin-right: auto;
            line-height: 20px;
            font-size: 15px;
            font-weight: bold;
            font-style: italic;
            color: white;
        }

        input[type=email],
        input[type=password] {
            width: 250px;
            height: 2em;
            margin: 3px;
            text-align: center;
        }

        button {
            width: 250px;
            height: 2.5em;
            margin: 3px;
            text-align: center;
        }

        button:hover {
            background-color: #95a4b3;
        }

        a {
            font-family: sans-serif;
            text-decoration: none;
            margin-left: 100px;
            line-height: 20px;
            font-size: 15px;
            font-weight: bold;
            font-style: italic;
            color: white;
        }

        @media(max-width:1300px) {

            .form-form {
                margin-top: 200px;
            }
        }

        @media(max-width:991px) {

            .form-form {
                margin-top: 180px;
            }
        }

        @media(max-width:573px) {
            .form-form {
                margin-top: 150px;
                float: left;
            }

            .head1 {
                line-height: 30px;
                font-size: 20px;
            }

            input[type=email],
            input[type=password] {
                width: 100px;
            }

            button {
                width: 100px;
            }
        }
    </style>
    <div class="form-form">
        <h2 class="head1">Login Form for FaceeBookee</h2>
        <form action="/login" method="post">
            <table class="table">
                <tr>
                    <td>
                        Email :
                    </td>
                    <td>
                        <input type="email" name="email" placeholder="Email *" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password :
                    </td>
                    <td>
                        <input type="password" name="password" placeholder="password *" value="" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Sign in</button><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/register">Create an account</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>